<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyBoardLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34A16F9D1CBB78080022F429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34A16FB61CBB78080022F429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34A16FC11CBB78080022F429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
